<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ $t('text_order_list') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary good-list">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> {{ $t('text_order_list') }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table" v-if="!loading.fetch && orderList.length > 0">
                                    <thead>
                                        <tr>
                                            <th>订单号</th>
                                            <th>快递单号</th>
                                            <th>快递费用</th>
                                            <th>收件人</th>
                                            <th>价格</th>
                                            <th>操作</th>
                                            <th>发货时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="order in orderList">
                                            <tr class="item" >
                                                <td>
                                                    {{order.id}}
                                                </td>
                                                <td>{{order.expressId}}</td>
                                                <td>
                                                    {{order.expressCost}}
                                                </td>
                                                <td>
                                                    {{order.name}}
                                                </td>
                                                <td>
                                                    {{order.price}}
                                                </td>
                                                <td><a href="javascript:void(0)" @click="expand(order)" v-if="!order.goodList">展开</a>
                                                    <div v-if="order.goodList && order.goodList.length > 0" v-for="good in order.goodList">
                                                        <span>{{ good.name }}</span>
                                                        <span>({{ good.attrs | join-attrs }})</span>
                                                        <span>*{{ good.amount }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{order.date}}
                                                </td>
                                            </tr>
                                            <tr v-if="order.comment">
                                                <td colspan="7">{{order.comment}}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                                <pagination :pagination="params" :change="change"></pagination>
                                <div class="empty" v-if="!loading.fetch && orderList.length == 0">
                                    <div class="msg">商品列表为空</div>
                                </div>
                                <div v-if="loading.fetch">
                                    <div class="loading audio-wave"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
