<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ $t('text_goods_in') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary good-in">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> {{ $t('text_goods_in') }}
                </div>
                <div class="panel-body">
                    <validator name="v">
                        <div class="input-group">
                            <span class="input-group-addon">商品名称</span>
                            <div class="select2Div">
                                <select id="productName" style="width: 100%" v-model="model.id" v-validate:name="{required:true}">
                                        </select>
                            </div>
                        </div>
                        <div class="input-group error-msg" v-if="$v.name.touched && $v.name.invalid">
                            <div v-if="$v.name.required" class="red-color">商品名称不能为空</div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">商品属性</span>
                            <div class="select2Div">
                                <select id="productAttr" style="width: 100%">
                                <option v-for="attr in attrList" :value="attr.id">{{attr.attr}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">入库数量</span>
                            <input id="productAmount" type="text" class="form-control" placeholder="请输入入库数量" aria-describedby="productAmount" v-model="model.amount" v-validate:amount="{required:true, posInt: true}" :class="{'red-border': $v.amount && $v.amount.touched && $v.amount.invalid}"
                                number>
                        </div>
                        <div class="input-group error-msg" v-if="$v.amount.touched && $v.amount.invalid">
                            <div v-if="$v.amount.required" class="red-color">入库数量不能为空</div>
                            <div v-if="!$v.amount.required && $v.amount.posInt" class="red-color">入库数量只能为正整数</div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="productAmount">商品进价</span>
                            <input type="text" class="form-control" placeholder="请输入商品进价" aria-describedby="productPriceIn" v-model="model.priceIn" v-validate:price="{required:true, number: true}" :class="{'red-border': $v.price && $v.price.touched && $v.price.invalid}">
                        </div>
                        <div class="input-group error-msg" v-if="$v.price.touched && $v.price.invalid">
                            <div v-if="$v.price.required" class="red-color">商品进价不能为空</div>
                            <div v-if="!$v.price.required && $v.price.number" class="red-color">商品进价只能为数字</div>
                        </div>
                        <div class="float-right btns">
                            <button type="button" class="btn btn-primary" @click="goodsIn">入库</button>
                            <button type="button" class="btn btn-danger" @click="reset">取消</button>
                        </div>
                    </validator>
                </div>
            </div>
        </div>
    </div>
</div>
