<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ $t('text_goods_inlist') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary good-list">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> {{ $t('text_goods_inlist') }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" v-if="!loading.fetch && inList.length > 0">
                                    <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>商品属性</th>
                                            <th>入库数量</th>
                                            <th>入库价格</th>
                                            <th>入库时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item" v-for="record in inList">
                                            <td><a href="javascript:void(0)" v-link="{name: 'detail', params: {id: record.goods_id} }">{{record.good.name}}</a></td>
                                            <td>{{record.attrs | join-attrs}}</td>
                                            <td v-if="!record.edit">
                                                {{record.amount}}
                                            </td>
                                            <td v-if="record.edit">
                                                <input type="text" v-model="record.amount">
                                            </td>
                                            <td v-if="!record.edit">{{record.price}}
                                            </td>
                                            <td v-if="record.edit">
                                                <input type="text" v-model="record.price">
                                            </td>
                                            <td>{{record.date}}</td>
                                            <td><i class="fa fa-pencil-square-o" aria-hidden="true" @click="edit(record)" v-if="!record.edit"></i>
                                                <i class="fa fa-floppy-o" aria-hidden="true" v-if="record.edit" @click="save(record)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-if="loading.fetch">
                                    <div class="loading audio-wave"></div>
                                </div>
                                <pagination :pagination="params" :change="change"></pagination>
                                <div class="empty" v-if="!loading.fetch && inList.length == 0">
                                    <div class="msg">没有入库记录</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
