.content {
    min-height: 600px;
}

.good-in {
    .input-group {
        margin: 8px 0;
        .select2Div {
            height: 34px;
            .select2-container {
                .select2-selection--single {
                    height: 34px;
                    .select2-selection__rendered {
                        line-height: 32px;
                    }
                    .select2-selection__arrow {
                        height: 32px;
                    }
                }
                .select2-selection {
                    padding: 1px 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    .btns {
        .btn {
            margin-left: 8px;
            padding: 6px 20px;
        }
    }
    .error-msg {
        text-indent: 85px;
    }
}

.good-create {
    .input-group {
        margin: 8px 0;
    }
    .btns {
        .btn {
            margin-left: 8px;
            padding: 6px 20px;
        }
    }
    .error-msg {
        text-indent: 85px;
    }
}

.good-list {
    .item {
        padding: 4px 0;
        font-size: 1.4rem;
    }
}

.good-detail {
    .add-attr {
        cursor: pointer;
        margin-left: 10px;
        display: inline-block;
        padding: 0 5px;
        height: 18px;
        line-height: 18px;
        background-color: #337ab7;
        color: #FFF;
    }
    .attr {
        background-color: #E2E1DF;
        padding: 5px 8px;
        margin-right: 8px;
        border-radius: 3px;
    }
    .edit {
        cursor: pointer;
    }
}