<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <!-- <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li> -->
            <li v-for="nav in navs">
                <a href="javascript:void(0)" v-link="{path: nav.path, activeClass: 'active'}"><i class="fa {{ nav.className }} fa-fw"></i> {{ nav.name }}<span class="fa arrow" v-if="nav.children && nav.children.length > 0"></span></a>
                <ul class="nav nav-second-level" v-if="nav.children && nav.children.length > 0">
                    <li v-for="nav_second in nav.children">
                        <a href="javascript:void(0)" v-link="{path: nav_second.path, activeClass: 'active'}"><i class="fa {{ nav_second.className }} fa-fw"></i> {{ nav_second.name }}</a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>
